
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pratica PSW</title>
</head>
<body>
 
    <h1>Cadastro</h1>
<form action="/calcular" method="POST">
<label>Nome Completo</label>
<br>

<input type="text" name="nome">
<br><br>
<label>CPF</label>
<br>

<input type="text" name="cpf">
<br><br>
<label>Valor da Compra</label>
<br>

<input type="number" step="0.01" name="valor">
<br><br>

<button type="submit">
</form>

</body>
</html>